@model DataBaseECommerce.Controllers.ProductInfo
@{
    ViewBag.Title = "ShowProductDetails";
}

<h2>ShowProductDetails</h2>
<br />
Name: @Model.ProductName <br />
Price: @Model.Price  <br />
Stock: @Model.Stock  <br />

